* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #2fc18c;
  background-image: url('../imgs/foto\ fundo.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  mix-blend-mode: normal;
  width: 100vw;
}
